body {
  font-family: 'Arial Black', sans-serif;
}

.app {
  margin: 0 auto;
  width: 300px;
}

.app__header {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #87CEFA;
}

.app__input-data {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.app__input-label {
  display: block;
  padding: 10px;
  text-align: center;
  color: #87CEFA;
}

.app__input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-size: 24px;
  color: #87CEFA;
  border: 2px solid #40E0D0;
  border-radius: 5%;
}

.app__input:focus {
  outline: none;
  border: 2px solid #87CEFA;
}

.app__btn-convert {
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #40E0D0;
  background-color: #ffffff;
  border: 2px solid #40E0D0;
}

.app__btn-convert:hover,
.app__btn-convert:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #40E0D0;
  transition: 0.1s;
}

.app__output {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #40E0D0;
  color: #ffffff;
  text-align: center;
}

.app-table {
  width: 100%;
  color: #ffffff;
  border-collapse: collapse;
}

.app-table__row:nth-child(odd) {
  background-color: #87CEFA;
}

.app-table__row:nth-child(even) {
  background-color: #40E0D0;
}

.app-table__cell {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
}

.app-table__cell:nth-child(even) {
  border-left: 1px solid #D3D3D3;
}
